@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: block;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
header .menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 10vh;
}
header .logo-nav {
  display: flex;
  justify-content: left;
  align-items: center;
}
header .menu-ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2.5rem;
  padding-top: 1rem;
}
header .menu-ul .links-menu,
header .menu-ul a {
  list-style-type: none;
  color: #add6ca;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}
header .menu-ul .links-menu:hover {
  text-decoration: overline;
  text-decoration-color: #E47264;
}
header .dropdown {
  display: none;
}

header {
  display: block;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
header .menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 10vh;
}
header .logo-nav {
  display: flex;
  justify-content: left;
  align-items: center;
}
header .menu-ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2.5rem;
  padding-top: 1rem;
}
header .menu-ul .links-menu,
header .menu-ul a {
  list-style-type: none;
  color: #add6ca;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}
header .menu-ul .links-menu:hover {
  text-decoration: overline;
  text-decoration-color: #E47264;
}
header .dropdown {
  display: none;
}

.contenedor {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas: "grid-1 grid-2 grid-3" "grid-1 grid-4 grid-5" "grid-1 grid-6 grid-7";
  justify-content: center;
  border-top: solid 1px #add6ca;
  border-bottom: solid 1px #add6ca;
  padding-left: 2rem;
  padding-right: 2rem;
}
.contenedor .cajas {
  border-radius: 0.5rem;
  margin: 0.5rem;
}
.contenedor .cajas a {
  -o-object-fit: contain;
     object-fit: contain;
}
.contenedor .grid-1 {
  display: grid;
  grid-area: grid-1;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.contenedor .grid-1 h1 {
  display: grid;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: 0.8rem;
  color: #E47264;
  justify-items: center;
}
.contenedor .grid-1 .subtitulo-1 {
  letter-spacing: 1rem;
  font-weight: 300;
  color: #E47264;
  opacity: 60%;
  margin-top: 1rem;
  font-size: 2.5rem;
}
.contenedor .grid-1 .div-titulo-principal {
  display: flex;
  margin: 0.5rem;
  margin-left: 1rem;
  align-items: center;
}
.contenedor .grid-1 .div-titulo-principal h1 {
  letter-spacing: 1.5rem;
}
.contenedor .grid-1 .subtitulo-2 {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #E47264;
  opacity: 60%;
  padding-bottom: 1rem;
}
.contenedor .grid-1-sobre-mi {
  display: block;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  overflow: auto;
}
.contenedor .grid-1-sobre-mi .subtitulo-1 {
  text-align: center;
}
.contenedor .grid-1-sobre-mi h1 {
  text-align: center;
}
.contenedor .grid-1-sobre-mi .subtitulo-2 {
  text-align: center;
  letter-spacing: 1rem;
  font-weight: 400;
}
.contenedor .grid-1-sobre-mi .sobre-mi {
  text-align: left;
  font-size: 1rem;
  color: #414141;
  font-weight: 300;
}
.contenedor .grid-1-sobre-mi .sobre-mi .sobre-mi-p-1::first-letter {
  font-size: 2rem;
  font-weight: 500;
}
.contenedor .grid-1-sobre-mi .sobre-mi a {
  color: #add6ca;
  font-size: 1.5rem;
}
.contenedor .grid-1-terapias {
  display: block;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  overflow: auto;
}
.contenedor .grid-1-terapias .subtitulo-1 {
  text-transform: uppercase;
}
.contenedor .grid-1-cursos {
  display: block;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  overflow: auto;
}
.contenedor .grid-1-cursos .subtitulo-1 {
  letter-spacing: 0.8rem;
}
.contenedor .grid-1-cursos h1 {
  letter-spacing: 1rem;
}
.contenedor .grid-1-cursos .subtitulo-2 {
  letter-spacing: 1.5rem;
}
.contenedor .grid-1-cursos .curso-1 {
  display: block;
  justify-content: center;
  text-align: left;
}
.contenedor .grid-1-cursos .curso-1 h4 {
  color: #add6ca;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.contenedor .grid-1-cursos .curso-1 mark {
  background-color: #add6ca;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.65rem;
}
.contenedor .grid-1-cursos .curso-1 h5 {
  color: #add6ca;
}
.contenedor .grid-1-cursos .curso-1 p {
  font-size: 0.8rem;
  color: #414141;
}
.contenedor .grid-1-cursos .curso-1 a {
  color: #414141;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #add6ca;
  letter-spacing: 0.5rem;
}
.contenedor .grid-1-blog {
  display: block;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  overflow: auto;
}
.contenedor .grid-1-blog .subtitulo-1 {
  letter-spacing: 1.2rem;
}
.contenedor .grid-1-blog .subtitulo-2 {
  letter-spacing: 0.45rem;
}
.contenedor .grid-1-blog h4 {
  color: #414141;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #add6ca;
  letter-spacing: 0.5rem;
}
.contenedor .grid-1-blog .entrada-1 {
  text-align: left;
}
.contenedor .grid-1-blog .entrada-1 mark {
  background-color: #add6ca;
}
.contenedor .grid-1-blog .entrada-1 .links-blog a {
  color: #E47264;
}
.contenedor .grid-1-blog .entrada-1 .links-interes {
  background-color: #fff;
  color: #E47264;
}
.contenedor .grid-1-contacto {
  display: block;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  overflow: scroll;
}
.contenedor .grid-1-contacto .titulo-contacto {
  display: block;
  justify-content: center;
}
.contenedor .grid-1-contacto .titulo-contacto .subtitulo-1 {
  text-align: center;
  letter-spacing: 2.5rem;
}
.contenedor .grid-1-contacto .titulo-contacto h1 {
  text-align: center;
  letter-spacing: 2rem;
}
.contenedor .grid-1-contacto .titulo-contacto .subtitulo-2 {
  letter-spacing: 0.35rem;
}
.contenedor .grid-1-contacto .contacto-1 .form {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
}
.contenedor .grid-1-contacto .contacto-1 .form p {
  color: #414141;
  text-transform: uppercase;
  background: #E47264;
  opacity: 80%;
}
.contenedor .grid-1-contacto .contacto-1 .form label {
  color: #414141;
  opacity: 80%;
}
.contenedor .grid-1-contacto .contacto-1 .form input {
  background-color: #add6ca;
  border-color: #add6ca;
  border-radius: 0.5rem;
}
.contenedor .grid-1-contacto .contacto-1 .form-2 {
  gap: 2rem;
}
.contenedor .grid-1-contacto .contacto-1 .form-3 {
  gap: 0.9rem;
}
.contenedor .grid-1-contacto .contacto-1 .form-4 {
  color: #add6ca;
}
.contenedor .grid-1-contacto .contacto-1 .form-5 {
  display: block;
}
.contenedor .grid-1-contacto .contacto-1 .form-5 .checkbox-div {
  display: flex;
  justify-content: left;
  justify-items: left;
  border-radius: 1rem;
}
.contenedor .grid-1-contacto .contacto-1 .form-5 .checkbox-div input, .contenedor .grid-1-contacto .contacto-1 .form-5 .checkbox-div label {
  justify-items: left;
}
.contenedor .grid-1-contacto .contacto-1 .form-5 .checkbox-div input {
  background-color: #add6ca;
}
.contenedor .grid-1-contacto .contacto-1 .form-7 textarea {
  background-color: #add6ca;
  border-color: #414141;
  border-radius: 0.5rem;
}

.grid-2 {
  display: grid;
  grid-area: grid-2;
  background-image: url(../img/yoga.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-content: center;
}
.grid-2 a {
  color: #E47264;
  background: #fff;
  background-size: cover;
  text-align: center;
  font-size: 0.99rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.grid-3 {
  display: grid;
  grid-area: grid-3;
  background-image: url(../img/tarot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.grid-3 a {
  color: #E47264;
  background: #fff;
  background-size: cover;
  text-align: center;
  font-size: 0.99rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.grid-4 {
  display: grid;
  grid-area: grid-4;
  background-image: url(../img/flores.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.grid-4 a {
  color: #E47264;
  background: #fff;
  background-size: cover;
  text-align: center;
  font-size: 0.99rem;
  letter-spacing: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.grid-5 {
  display: grid;
  grid-area: grid-5;
  background-image: url(../img/dmt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.grid-5 a {
  color: #E47264;
  background: #fff;
  background-size: cover;
  text-align: center;
  font-size: 0.99rem;
  letter-spacing: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
}

.grid-6 {
  display: grid;
  grid-area: grid-6;
  background-image: url(../img/meditacion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.grid-6 a {
  color: #E47264;
  background: #fff;
  background-size: cover;
  text-align: center;
  font-size: 0.99rem;
  letter-spacing: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.grid-7 {
  display: grid;
  grid-area: grid-7;
  background-image: url(../img/cursos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.grid-7 a {
  color: #E47264;
  background: #fff;
  background-size: cover;
  text-align: center;
  font-size: 0.99rem;
  letter-spacing: 0.95rem;
  text-decoration: none;
  text-transform: uppercase;
}

.contenedor-index {
  height: 80vh;
}

.contenedor-sobre-mi {
  height: 80vh;
}

.contenedor-terapias {
  height: 80vh;
}

.contenedor-cursos {
  height: 80vh;
}

.contenedor-blog {
  height: 80vh;
}

.contenedor-contacto {
  height: 80vh;
}

.footer {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footer-1 footer-2 footer-3";
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer .footer-1 {
  display: grid;
  grid-area: "footer-1";
  justify-content: left;
  align-items: center;
}
.footer .footer-1 a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #add6ca;
  font-weight: 100;
  text-decoration: none;
}
.footer .footer-2 {
  display: flex;
  grid-area: "footer-2";
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer .footer-2 a {
  font-size: 2rem;
  color: #add6ca;
}
.footer .footer-2 .i-1 {
  color: #E47264;
  opacity: 60%;
}
.footer .footer-2 .i-2 {
  color: #414141;
  opacity: 60%;
}
.footer .footer-2 .i-3 {
  color: #add6ca;
}
.footer .footer-3 {
  display: grid;
  grid-area: "footer-3";
  justify-content: right;
  align-items: center;
}
.footer .footer-3 p {
  display: flex;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #add6ca;
}/*# sourceMappingURL=style.css.map */