.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer-1 footer-2 footer-3";

    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 1rem;

    @media (max-width: 1114px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (max-width: 856px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (max-width:670px) {
        display: block;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    @media (max-width:480px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .footer-1 {
        display: grid;
        grid-area: "footer-1";
        justify-content: left;
        align-items: center;
        
        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            color: $celeste;
            font-weight: 300;
            text-decoration: none;            
        }

        @media (max-width: 670px) {
            display: none;
        }
    }

    .footer-2 {
        display: flex;
        grid-area: "footer-2";
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a {
            font-size: 2rem;
            color: $celeste;
        }
        
        .i-1 {
            color: $rosado;
            opacity: 60%;
        }

        .i-2 {
            color: $gris;
            opacity: 60%;
        }

        .i-3 {
            color: $celeste;
            font-size: 2.2rem;
        }
    }

    .footer-3 {
        display: grid;
        grid-area: "footer-3";
        justify-content: right;
        align-items: center;
        align-self: center;

        @media (max-width:670px){
            justify-content: center;
        }

        .caja-rights {
            display: block;

            i {
                display: block;           
                align-content: center;
                align-items: center;
                text-align: right;
                font-size: .8rem;
                font-weight: 400;
                color: $celeste;
                font-style: normal;

                @media (max-width:1115px) {
                    display: flex;
                    font-size: .5rem;
                }
            }         
        }
    }   
}