header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

    .menu-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 10vh;
    }

    .logo-nav {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .menu-ul {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 2.5rem;
        padding-top: 1rem;

        @media (max-width: 1106px) {
            display: none;
        }

        .links-menu,
        a {
            list-style-type: none;
            color: $gris;
            opacity: 80%;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.2rem;
        }

        .links-menu:hover {
            text-decoration: overline;
            text-decoration-color: $rosado;
        }


    }

    .dropdown {
        display: none;

        @media (max-width: 1106px) {
            display: block;

            .dropdown-toggle {
                color: $rosado;
                font-size: 2rem;
                background-color: $blanco;
            }

        }
    }
}