header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

    @media (max-width: 1114px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (max-width: 856px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .menu-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 10vh;
    }

    .logo-nav {
        display: flex;
        justify-content: left;
        align-items: center;

        @media (max-width: 670px) {
            display: none;
        }
    }

    .logo-nav-2 {
        display: none;
        grid-area: "footer-1";
        justify-content: left;
        align-items: center;
        
        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            color: $celeste;
            font-weight: 300;
            text-decoration: none;            
        }

        @media (max-width: 670px) {
            display: flex;
        }
    }

    .menu-ul {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 2.5rem;
        padding-top: 1rem;

        @media (max-width: 912px) {
            display: none;
        }

        .links-menu,
        a {
            list-style-type: none;
            color: $gris;
            opacity: 80%;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.2rem;
        }

        .links-menu:hover {
            text-decoration: overline;
            text-decoration-color: $rosado;
        }
    }

    .dropdown {
        display: none;


        @media (max-width: 912px) {
            display: block;

            .dropdown-toggle {
                display: flex;
                color: $blanco;
                font-size: 3rem;
                background-color: $blanco;
                flex-direction: row-reverse;
                border-color: transparent;

                .bi {
                    color: $rosado;
                }
            }


        }
    }
}