.contenedor {
    height: 80vh;
    display: grid;
    grid-template-columns: 6fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
        "grid-1 grid-2 grid-3"
        "grid-1 grid-4 grid-5"
        "grid-1 grid-6 grid-7";

    justify-content: center;
    border-top: solid 1px $celeste;
    border-bottom: solid 1px $celeste;

    padding-left: 4rem;
    padding-right: 4rem;
    
    
    @media (max-width: 1115px) {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: 
        "grid-1 grid-1 grid-1"
        "grid-2 grid-3 grid-4"
        "grid-5 grid-6 grid-7";

        padding-top: 0;
        padding-bottom: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (max-width: 856px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (max-width:760px) {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,1fr);
        grid-template-areas: 
        "grid-1"
        "grid-2"
        "grid-3"
        "grid-4"
        "grid-5"
        "grid-6"
        "grid-7"
        "grid-8";
    }

    @media (max-width:480px) {
        height: 100vh;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media (max-width:451px){
        padding: 0;
        margin: 0;
    }

    .cajas {
        margin: .5rem;
        border-radius: 1rem;

        a {
            object-fit: contain;
        }
    }

    .grid-1 {
        display: grid;
        grid-area: grid-1;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;

        .subtitulo-1 {
            letter-spacing: 1rem;
            font-weight: 300;
            color: $rosado;
            opacity: 60%;
            margin-top: 1rem;
            font-size: 2.5rem;
            opacity: 80%;

            @media (max-width: 1115px) {
                font-size: 1.5rem;
                letter-spacing: .5rem;
            }
            @media (max-width: 490px) {
                font-size: .8rem;
                letter-spacing: .5rem;
            }
        }

        .div-titulo-principal {
            display: flex;
            margin: .5rem;
            margin-left: 1rem;
            align-items: center;
            justify-content: center;

            .yog {
                display: block;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 4.5rem;
                letter-spacing: .5rem;
                color: $rosado;
                justify-items: center;

                @media (max-width:1163px) {
                    letter-spacing: .1rem;
                }
                @media (max-width:552px) {
                    font-size: 4rem;
                }      
                @media (max-width:490px) {
                    font-size: 3rem;
                }
                @media (max-width:421px) {
                    font-size: 2.5rem;
                    letter-spacing: .2rem;
                }

                .logo-titulo {
                    margin-bottom: .8rem;
    
                    @media (max-width: 552px) {
                        height: 3rem;
                        align-items: center;
                        margin-bottom: .7rem;
                    }
                    @media (max-width:490px) {
                        height: 2.5rem;
                    }
                    @media (max-width:421px) {
                        height: 1.9rem;
                        margin-top: .2rem;
                    }
                }
            }
        }

        .subtitulo-2 {
            letter-spacing: .3rem;
            font-size: 1.5rem;
            font-weight: 300;
            color: $rosado;
            opacity: 60%;
            padding-bottom: 1rem;

            @media (max-width: 718px) {
                font-size: 1.2rem;
                letter-spacing: .5rem;
            }
            @media (max-width: 490px) {
                font-size: .8rem;
                letter-spacing: .5rem;
            }
        }
    }

    .grid-1-cursos {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            letter-spacing: .8rem;
        }

        h1 {
            letter-spacing: 1rem;
        }

        .subtitulo-2 {
            letter-spacing: 1.5rem;
        }

        .curso-1 {
            display: block;
            justify-content: center;
            text-align: left;

            h4 {
                color: $celeste;
                text-transform: uppercase;
                letter-spacing: .2rem;
            }

            mark {
                background-color: $celeste;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: .65rem;
            }

            h5 {
                color: $celeste;
            }

            p {
                font-size: .8rem;
                color: $gris;
            }

            a {
                color: $gris;
                font-size: 1.2rem;
                font-weight: 300;
                text-transform: uppercase;
                background-color: $celeste;
                letter-spacing: .5rem;
            }
        }
    }

    .grid-1-blog {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            letter-spacing: 1.2rem;
        }

        .subtitulo-2 {
            letter-spacing: .45rem;
        }

        h4 {
            color: $gris;
            font-size: 1.2rem;
            font-weight: 300;
            text-transform: uppercase;
            background-color: $celeste;
            letter-spacing: .5rem;
        }

        .entrada-1 {
            text-align: left;

            mark {
                background-color: $celeste;
            }

            .links-blog {
                a {
                    color: $rosado;
                }
            }

            .links-interes {
                background-color: $blanco;
                color: $rosado;

            }


        }
    }

    .grid-1-contacto {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: scroll;

        .titulo-contacto {
            display: block;
            justify-content: center;

            .subtitulo-1 {
                text-align: center;
                letter-spacing: 2.5rem;
            }

            h1 {
                text-align: center;
                letter-spacing: 2rem;
            }

            .subtitulo-2 {
                letter-spacing: .35rem;
            }
        }

        .contacto-1 {

            .form {
                display: flex;
                gap: 1rem;
                padding-top: .5rem;

                p {
                    color: $gris;
                    text-transform: uppercase;
                    background: $rosado;
                    opacity: 80%;
                }

                label {
                    color: $gris;
                    opacity: 80%;
                }

                input {
                    background-color: $celeste;
                    border-color: $celeste;
                    border-radius: .5rem;
                }
            }

            .form-2 {
                gap: 2rem;
            }

            .form-3 {
                gap: .9rem;
            }

            .form-4 {
                color: $celeste;
            }

            .form-5 {
                display: block;

                .checkbox-div {
                    display: flex;
                    justify-content: left;
                    justify-items: left;
                    border-radius: 1rem;

                    input,
                    label {
                        justify-items: left;
                    }

                    input {
                        background-color: $celeste;
                    }
                }
            }

            .form-7 {
                textarea {
                    background-color: $celeste;
                    border-color: $gris;
                    border-radius: .5rem;
                    opacity: 60%;
                }
            }
        }
    }
}



.grid-2 {
    display: grid;
    grid-area: grid-2;
    background-image: url(../img/yoga.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;

    .div-bg-grid {
        display: flex;
        justify-content: center;
        background-color: $blanco;
        opacity: 80%;
        padding: .8rem;
   
        a {
            color: $rosado;
            text-align: center;
            font-size: .99rem;
            letter-spacing: .3rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        @media (max-width:1115px){
            padding-top: .15rem;
            padding-bottom: .15rem;

            a {
                letter-spacing: .6rem;
                font-size: 1rem;
            }   
        }
        
        @media (max-width:912px){
            a {
                letter-spacing: .6rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:760px){
            border-radius: 1rem;
            a {
                letter-spacing: .6rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:570px){
            border-radius: 1rem;
            a {
                letter-spacing: .3rem;
            }   
        }
    }
}

.grid-3 {
    display: grid;
    grid-area: grid-3;
    background-image: url(../img/tarot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .div-bg-grid {
        display: flex;
        justify-content: space-between;
        background-color: $blanco;
        opacity: 80%;
        padding: .8rem;

        a {
            color: $rosado;
            text-align: center;
            font-size: .99rem;
            letter-spacing: .2rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        @media (max-width:1115px){
            padding-top: .15rem;
            padding-bottom: .15rem;

            a {
                letter-spacing: .5rem;
                font-size: 1rem;
            }   
        }

        @media (max-width:912px){
            a {
                letter-spacing: .2rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:760px){
            border-radius: 1rem;
            a {
                letter-spacing: .6rem;
            }   
        }
        @media (max-width:570px){
            border-radius: 1rem;
            a {
                letter-spacing: .3rem;
            }   
        }
    }   
}

.grid-4 {
    display: grid;
    grid-area: grid-4;
    background-image: url(../img/flores.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .div-bg-grid {
        display: flex;
        justify-content: space-between;
        background-color: $blanco;
        opacity: 80%;
        padding: .8rem;

        a {
            color: $rosado;
            text-align: center;
            font-size: .99rem;
            letter-spacing: .2rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        @media (max-width:1115px){
            padding-top: .15rem;
            padding-bottom: .15rem;

            a {
                letter-spacing: .5rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:912px){
            a {
                letter-spacing: .2rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:760px){
            border-radius: 1rem;
            a {
                letter-spacing: .6rem;
            }   
        }
        @media (max-width:570px){
            border-radius: 1rem;
            a {
                letter-spacing: .3rem;
            }   
        }
    }    
}

.grid-5 {
    display: grid;
    grid-area: grid-5;
    background-image: url(../img/dmt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .div-bg-grid {
        display: flex;
        justify-content: space-between;
        background-color: $blanco;
        opacity: 80%;
        padding: .8rem;
        padding-top: .15rem;
        padding-bottom: .15rem;

        a {
            color: $rosado;
            text-align: center;
            font-size: .99rem;
            letter-spacing: .3rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        @media (max-width:1115px){
            padding-top: .15rem;
            padding-bottom: .15rem;

            a {
                letter-spacing: .3rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:1009px){
            a {
                letter-spacing: .1rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:760px){
            border-radius: 1rem;
            a {
                letter-spacing: .6rem;
            }   
        }
        @media (max-width:570px){
            border-radius: 1rem;
            a {
                letter-spacing: .2rem;
            }   
        }
    } 
}

.grid-6 {
    display: grid;
    grid-area: grid-6;
    background-image: url(../img/meditacion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .div-bg-grid {
        display: flex;
        justify-content: center;
        background-color: $blanco;
        opacity: 80%;
        padding: .8rem;

        a {
            color: $rosado;
            text-align: center;
            font-size: .99rem;
            letter-spacing: .3rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        @media (max-width:1115px){
            padding-top: .15rem;
            padding-bottom: .15rem;

            a {
                letter-spacing: .5rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:912px){
            a {
                letter-spacing: .2rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:760px){
            border-radius: 1rem;
            a {
                letter-spacing: .6rem;
            }   
        }
        @media (max-width:570px){
            border-radius: 1rem;
            a {
                letter-spacing: .3rem;
            }   
        }
    }   
}

.grid-7 {
    display: grid;
    grid-area: grid-7;
    background-image: url(../img/cursos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .div-bg-grid {
        display: flex;
        justify-content: space-between;
        background-color: $blanco;
        opacity: 80%;
        padding: .8rem;
        
        a {
            color: $rosado;
            text-align: center;
            font-size: .99rem;
            letter-spacing: .65rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        @media (max-width:1115px){
            padding-top: .15rem;
            padding-bottom: .15rem;

            a {
                letter-spacing: .6rem;
                font-size: 1rem;
            }   
        }
        @media (max-width:760px){
            border-radius: 1rem;
            a {
                letter-spacing: .6rem;
            }   
        }
        @media (max-width:570px){
            border-radius: 1rem;
            a {
                letter-spacing: .3rem;
            }   
        }
        
    }
}

.contenedor-sobre-mi{


    .grid-1-sobre-mi {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            text-align: center;
            font-size: 1.5rem;
        }

        .div-titulo-principal{
            h2 {
                text-transform: uppercase;
                font-weight: 100;
                font-size: 4.5rem;
                letter-spacing: .5rem;
                color: $rosado;

                @media (max-width:1145px){
                    letter-spacing: .3rem;
                }
                @media (max-width:881px){
                    letter-spacing: .1rem;
                }
                @media (max-width:561px){
                    font-size: 3rem;
                    letter-spacing: .8rem; 
                }
            }
        }

        .subtitulo-2 {
            text-align: center;
            letter-spacing: 1rem;
            font-weight: 300;
            font-size: 1.5rem;

            @media (max-width:1162px){
                font-size: 1rem;
            }
            @media (max-width:880px){
                font-weight: 200;
                letter-spacing: 1rem; 
            }
            @media (max-width:561px){
                font-size: .8rem;
                letter-spacing: .8rem; 
            }
        }

        .sobre-mi {
            height: auto;
            text-align: left;
            font-size: 1rem;
            color: $gris;
            font-weight: 300;
            overflow: scroll;

            .sobre-mi-p-1 {
                &::first-letter {
                    font-size: 2rem;
                    font-weight: 500
                }
            }

            a {
                color: $celeste;
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width:1115px){
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "grid-1 grid-2"
        "grid-1 grid-3"
        "grid-1 grid-4"
        "grid-1 grid-5"
        "grid-1 grid-6"
        "grid-1 grid-7";
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 2rem;
        padding-right: 2rem;

        .grid-1 {
            height: auto;
        }
    }

    @media (max-width:881px) {
        height: auto;
        
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "grid-1"
        "grid-2"
        "grid-3"
        "grid-4"
        "grid-5"
        "grid-6"
        "grid-7";

        padding-bottom: 2rem;
    }

    @media (max-width:857px) {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
    
}

.contenedor-terapias{
    .grid-1-terapias {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: .6rem;
        }

        .div-titulo-principal{
            h2 {
                text-transform: uppercase;
                font-weight: 100;
                font-size: 4.5rem;
                letter-spacing: .5rem;
                color: $rosado;

                @media (max-width:1145px){
                    letter-spacing: .3rem;
                }
                @media (max-width:881px){
                    letter-spacing: .1rem;
                }
                @media (max-width:561px){
                    font-size: 3rem;
                    letter-spacing: .8rem; 
                }
            }
        }

        .subtitulo-2 {
            text-align: center;
            letter-spacing: .1rem;
        }

        .terapia {
            display: block;
            justify-content: left;
            text-align: left;
            border-left: solid 4px $celeste;
            gap: 1rem;
            padding-left: .5rem;

            .terapia-div-1{
                padding-top: 1rem;
                padding-bottom: 1rem;

                h4 {
                    color: $celeste;
                    text-transform: uppercase;
                    letter-spacing: .22rem;
                    font-size: 2rem;
                }
    
                mark {
                    background-color: $celeste;
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: .2rem;
                }
    
                h5 {
                    color: $celeste;
                }
    
                p {
                    font-size: .8rem;
                    color: $gris;
                }
    
                a {
                    color: $gris;
                    font-size: 1rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    background-color: $celeste;
                }
            }

            .accordion-item {
                font-family: 'Montserrat', sans-serif;
                font-size: .8rem;

                .accordion-button {
                    background-color: $celeste;
                }

                .preguntas-frecuentes {

                }
            }


        }
    }

    .grid-2 {
        
    }
}