.contenedor {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
        "grid-1 grid-2 grid-3"
        "grid-1 grid-4 grid-5"
        "grid-1 grid-6 grid-7";

    justify-content: center;
    border-top: solid 1px $celeste;
    border-bottom: solid 1px $celeste;

    padding-left: 2rem;
    padding-right: 2rem;

    .cajas {
        border-radius: .5rem;
        margin: .5rem;

        a {
            object-fit: contain;
        }
    }

    .grid-1 {
        display: grid;
        grid-area: grid-1;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;


        h1 {
            display: grid;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 5rem;
            letter-spacing: .8rem;
            color: $rosado;
            justify-items: center;
        }

        .subtitulo-1 {
            letter-spacing: 1rem;
            font-weight: 300;
            color: $rosado;
            opacity: 60%;
            margin-top: 1rem;
            font-size: 2.5rem;
        }

        .div-titulo-principal {
            display: flex;
            margin: .5rem;
            margin-left: 1rem;
            align-items: center;

            h1 {
                letter-spacing: 1.5rem;
            }

        }

        .subtitulo-2 {
            letter-spacing: .3rem;
            font-size: 1.5rem;
            font-weight: 300;
            color: $rosado;
            opacity: 60%;
            padding-bottom: 1rem;
        }
    }

    .grid-1-sobre-mi {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        .subtitulo-2 {
            text-align: center;
            letter-spacing: 1rem;
            font-weight: 400;
        }

        .sobre-mi {
            text-align: left;
            font-size: 1rem;
            color: $gris;
            font-weight: 300;



            .sobre-mi-p-1 {
                &::first-letter {
                    font-size: 2rem;
                    font-weight: 500
                }
            }

            a {
                color: $celeste;
                font-size: 1.5rem;
            }

        }
    }

    .grid-1-terapias {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            text-transform: uppercase;
        }
    }

    .grid-1-cursos {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            letter-spacing: .8rem;
        }

        h1 {
            letter-spacing: 1rem;
        }

        .subtitulo-2 {
            letter-spacing: 1.5rem;
        }

        .curso-1 {
            display: block;
            justify-content: center;
            text-align: left;

            h4 {
                color: $celeste;
                text-transform: uppercase;
                letter-spacing: .2rem;
            }

            mark {
                background-color: $celeste;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: .65rem;
            }

            h5 {
                color: $celeste;
            }

            p {
                font-size: .8rem;
                color: $gris;
            }

            a {
                color: $gris;
                font-size: 1.2rem;
                font-weight: 300;
                text-transform: uppercase;
                background-color: $celeste;
                letter-spacing: .5rem;


            }
        }
    }

    .grid-1-blog {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: auto;

        .subtitulo-1 {
            letter-spacing: 1.2rem;
        }

        .subtitulo-2 {
            letter-spacing: .45rem;
        }

        h4 {
            color: $gris;
            font-size: 1.2rem;
            font-weight: 300;
            text-transform: uppercase;
            background-color: $celeste;
            letter-spacing: .5rem;
        }

        .entrada-1 {
            text-align: left;

            mark {
                background-color: $celeste;
            }

            .links-blog {
                a {
                    color: $rosado;
                }
            }

            .links-interes {
                background-color: $blanco;
                color: $rosado;

            }


        }
    }

    .grid-1-contacto {
        display: block;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;

        overflow: scroll;
        
        .titulo-contacto {
            display: block;
            justify-content: center;

            .subtitulo-1 {
                text-align: center;
                letter-spacing: 2.5rem;
            }
            h1 {
                text-align: center;
                letter-spacing: 2rem;
            }

            .subtitulo-2 {
                letter-spacing: .35rem;
            }

        }

        .contacto-1 {

            .form {
                display: flex;
                gap: 1rem;
                padding-top: .5rem;

                p{
                    color: $gris;
                    text-transform: uppercase;
                    background: $rosado;
                    opacity: 80%;
                }
                
                label {
                    color: $gris;
                    opacity: 80%;
                }

                input {
                    background-color: $celeste;
                    border-color: $celeste;
                    border-radius: .5rem;
                }

            }

            .form-2 {
                gap: 2rem;
            }

            .form-3 {
                gap: .9rem;
            }

            .form-4 {
                color: $celeste;
            }

            .form-5 {
                display: block;
                
                .checkbox-div {
                    display: flex;
                    justify-content: left;
                    justify-items: left;
                    border-radius: 1rem;

                    input, label {
                        justify-items: left;
                    }
    
                    input {
                        background-color: $celeste;
                    }
                }             
            }

            .form-7 {
                textarea {
                    background-color: $celeste;
                    border-color: $gris;
                    border-radius: .5rem;
                }
            }
            

        }
        
    }

}




.grid-2 {
    display: grid;
    grid-area: grid-2;
    background-image: url(../img/yoga.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;

    a {
        color: $rosado;
        background: $blanco;
        background-size: cover;
        text-align: center;
        font-size: .99rem;
        letter-spacing: .3rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.grid-3 {
    display: grid;
    grid-area: grid-3;
    background-image: url(../img/tarot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    a {
        color: $rosado;
        background: $blanco;
        background-size: cover;
        text-align: center;
        font-size: .99rem;
        letter-spacing: .3rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.grid-4 {
    display: grid;
    grid-area: grid-4;
    background-image: url(../img/flores.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    justify-content: center;
    align-items: center;

    a {
        color: $rosado;
        background: $blanco;
        background-size: cover;
        text-align: center;
        font-size: .99rem;
        letter-spacing: .5rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.grid-5 {
    display: grid;
    grid-area: grid-5;
    background-image: url(../img/dmt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    justify-content: center;
    align-items: center;

    a {
        color: $rosado;
        background: $blanco;
        background-size: cover;
        text-align: center;
        font-size: .99rem;
        letter-spacing: .25rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.grid-6 {
    display: grid;
    grid-area: grid-6;
    background-image: url(../img/meditacion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    a {
        color: $rosado;
        background: $blanco;
        background-size: cover;
        text-align: center;
        font-size: .99rem;
        letter-spacing: .5rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.grid-7 {
    display: grid;
    grid-area: grid-7;
    background-image: url(../img/cursos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    a {
        color: $rosado;
        background: $blanco;
        background-size: cover;
        text-align: center;
        font-size: .99rem;
        letter-spacing: .95rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}


.contenedor-index {
    height: 80vh;
}

.contenedor-sobre-mi {
    height: 80vh;
}

.contenedor-terapias {
    height: 80vh;
}

.contenedor-cursos {
    height: 80vh;
}

.contenedor-blog {
    height: 80vh;
}

.contenedor-contacto {
    height: 80vh;
}